In [44]:
import pandas as pd
import sqlite3
import os

In [45]:
#Checking column names and looking for join potential
df_NFL_Draft_2025 = pd.read_csv('NFL_Draft_2025.csv')
print(df_NFL_Draft_2025.columns.tolist())

['CollegeAthleteId', 'NflAthleteId', 'CollegeId', 'CollegeTeam', 'CollegeConference', 'NflTeamId', 'NflTeam', 'Year', 'Overall', 'Round', 'Pick', 'Name', 'Position', 'Height', 'Weight', 'PreDraftRanking', 'PreDraftPositionRanking', 'PreDraftGrade', 'HometownInfo City', 'HometownInfo State', 'HometownInfo Country', 'HometownInfo Latitude', 'HometownInfo Longitude', 'HometownInfo CountyFips']

In [46]:
# Checking column names and looking for join potential
df_Recruiting_Ranking_2022 = pd.read_csv('Recruiting_Ranking_2022.csv')
print(df_Recruiting_Ranking_2022.columns)

Index(['Id', 'AthleteId', 'RecruitType', 'Year', 'Ranking', 'Name', 'School',
       'CommittedTo', 'Position', 'Height', 'Weight', 'Stars', 'Rating',
       'City', 'StateProvince', 'Country', 'HometownInfo Latitude',
       'HometownInfo Longitude', 'HometownInfo FipsCode'],
      dtype='object')

In [47]:
#Combining Highschool recruiting ranking csv for years 202019-2023 ( there should be 4 people per rank)

files_to_combine = [
    'Recruiting_Ranking_2020.csv',
    'Recruiting_Ranking_2021.csv',
    'Recruiting_Ranking_2022.csv',
    'Recruiting_Ranking_2019.csv'
]

Recruiting_Ranking = []

for file in files_to_combine:
    College = pd.read_csv(file)
    Recruiting_Ranking.append(College)

Recruiting_Rank_Combined = pd.concat(Recruiting_Ranking, ignore_index=True)

print(Recruiting_Rank_Combined.head(10))

      Id  AthleteId RecruitType  Year  Ranking               Name  \
0  61569  4428988.0  HighSchool  2020      1.0       Bryan Bresee
1  61570  4685720.0  HighSchool  2020      2.0        Bryce Young
2  61571  4430800.0  HighSchool  2020      3.0     Julian Fleming
3  61572  4428992.0  HighSchool  2020      4.0        Kelee Ringo
4  61573  4428994.0  HighSchool  2020      5.0       Arik Gilbert
5  61574  4428986.0  HighSchool  2020      6.0       Justin Flowe
6  61576  4428996.0  HighSchool  2020      8.0       Jordan Burch
7  61577  4428991.0  HighSchool  2020      9.0  Paris Johnson Jr.
8  61578        NaN  HighSchool  2020     10.0      DJ Uiagalelei
9  61579  4428990.0  HighSchool  2020     11.0    Broderick Jones

              School     CommittedTo Position  Height  Weight  Stars  Rating  \
0           Damascus         Clemson       DT    77.0   290.0      5  0.9995
1          Mater Dei         Alabama     DUAL    71.0   183.0      5  0.9994
2  Southern Columbia      Ohio State       WR    74.0   199.0      5  0.9979
3            Saguaro         Georgia       CB    74.0   205.0      5  0.9976
4           Marietta             LSU       TE    77.0   253.0      5  0.9972
5             Upland          Oregon      ILB    74.0   225.0      5  0.9967
6     Hammond School  South Carolina       DT    77.0   275.0      5  0.9954
7          Princeton      Ohio State       OT    79.0   290.0      5  0.9953
8     St. John Bosco         Clemson      PRO    76.5   246.0      5  0.9949
9           Lithonia         Georgia       OT    77.0   298.0      5  0.9947

         City StateProvince Country  HometownInfo Latitude  \
0    Damascus            MD     USA              39.288438
1   Santa Ana            CA     USA              33.749495
2   Catawissa            PA     USA              40.954827
3  Scottsdale            AZ     USA              33.494219
4    Marietta            GA     USA              33.952847
5      Upland            CA     USA              34.097510
6    Columbia            SC     USA              34.000749
7  Cincinnati            OH     USA              39.101454
8  Bellflower            CA     USA              33.882570
9    Lithonia            GA     USA              33.712331

   HometownInfo Longitude  HometownInfo FipsCode
0              -77.203872                24031.0
1             -117.873221                 6059.0
2              -76.460987                42037.0
3             -111.926018                 4013.0
4              -84.549615                13067.0
5             -117.648388                 6071.0
6              -81.034331                45079.0
7              -84.512460                39061.0
8             -118.116768                 6037.0
9              -84.105194                13089.0

In [48]:
# Combining NFL Draft results from 2022-2025

files_to_combine_draft = [
    'NFL_Draft_2022.csv',
    'NFL_Draft_2023.csv',
    'NFL_Draft_2024.csv',
    'NFL_Draft_2025.csv'
]
NFL_Draft = []
for file in files_to_combine_draft:
    NFL = pd.read_csv(file)
    NFL_Draft.append(NFL)

NFL_Draft_Combined = pd.concat(NFL_Draft, ignore_index=True)

print(NFL_Draft_Combined.head(10))

   CollegeAthleteId  NflAthleteId  CollegeId        CollegeTeam  \
0         4426349.0        105673         61            Georgia
1         4372099.0        105537        130           Michigan
2         4426434.0        105534         99                LSU
3         4427250.0        105558       2132         Cincinnati
4         4426326.0        105533       2483             Oregon
5         4427132.0        105589        152           NC State
6         4567134.0        105535        333            Alabama
7         4426502.0        105554         30                USC
8         4426376.0        105539        344  Mississippi State
9         4569618.0        105540        194         Ohio State

   CollegeConference  NflTeamId       NflTeam  Year  Overall  Round  ...  \
0                SEC         30  Jacksonville  2022        1      1  ...
1            Big Ten          8       Detroit  2022        2      1  ...
2                SEC         34       Houston  2022        3      1  ...
3  American Athletic         20      New York  2022        4      1  ...
4             Pac-12         19      New York  2022        5      1  ...
5                ACC         29      Carolina  2022        6      1  ...
6                SEC         19      New York  2022        7      1  ...
7             Pac-12          1       Atlanta  2022        8      1  ...
8                SEC         26       Seattle  2022        9      1  ...
9            Big Ten         20      New York  2022       10      1  ...

   Weight PreDraftRanking PreDraftPositionRanking  PreDraftGrade  \
0   272.0             2.0                     2.0           93.0
1   260.0             1.0                     1.0           94.0
2   190.0             8.0                     2.0           92.0
3   190.0             5.0                     1.0           93.0
4   254.0             7.0                     3.0           93.0
5   310.0             3.0                     1.0           93.0
6   337.0             4.0                     2.0           93.0
7   219.0            11.0                     2.0           92.0
8   307.0            10.0                     3.0           92.0
9   183.0             6.0                     1.0           93.0

   HometownInfo City  HometownInfo State  HometownInfo Country  \
0          Thomaston                  GA                   USA
1           Plymouth                  MI                   USA
2        Baton Rouge                  LA                   USA
3            Detroit                  MI                   USA
4        Los Angeles                  CA                   USA
5          Charlotte                  NC                   USA
6         Okeechobee                  FL                   USA
7           Moorpark                  CA                   USA
8             Laurel                  MS                   USA
9             Austin                  TX                   USA

   HometownInfo Latitude HometownInfo Longitude HometownInfo CountyFips
0              32.888188             -84.326585                 13293.0
1              45.006515             -93.466510                 27053.0
2              30.445960             -91.187380                 22033.0
3              42.331551             -83.046640                 26163.0
4              34.053691            -118.242767                  6037.0
5              35.227200             -80.843083                 37119.0
6              27.243696             -80.828749                 12093.0
7              34.285558            -118.882041                  6111.0
8              31.740960             -89.133820                 28067.0
9              30.271129             -97.743700                 48453.0

[10 rows x 24 columns]

In [49]:
# Looking at results
print(NFL_Draft_Combined.columns)

Index(['CollegeAthleteId', 'NflAthleteId', 'CollegeId', 'CollegeTeam',
       'CollegeConference', 'NflTeamId', 'NflTeam', 'Year', 'Overall', 'Round',
       'Pick', 'Name', 'Position', 'Height', 'Weight', 'PreDraftRanking',
       'PreDraftPositionRanking', 'PreDraftGrade', 'HometownInfo City',
       'HometownInfo State', 'HometownInfo Country', 'HometownInfo Latitude',
       'HometownInfo Longitude', 'HometownInfo CountyFips'],
      dtype='object')

In [50]:
# looking at results
print(NFL_Draft_Combined.head(15))

    CollegeAthleteId  NflAthleteId  CollegeId        CollegeTeam  \
0          4426349.0        105673         61            Georgia
1          4372099.0        105537        130           Michigan
2          4426434.0        105534         99                LSU
3          4427250.0        105558       2132         Cincinnati
4          4426326.0        105533       2483             Oregon
5          4427132.0        105589        152           NC State
6          4567134.0        105535        333            Alabama
7          4426502.0        105554         30                USC
8          4426376.0        105539        344  Mississippi State
9          4569618.0        105540        194         Ohio State
10         4361370.0        105544        194         Ohio State
11         4426388.0        105553        333            Alabama
12         4381558.0        105548         61            Georgia
13         4575517.0        105536         87         Notre Dame
14         4426327.0        105577        245          Texas A&M

    CollegeConference  NflTeamId       NflTeam  Year  Overall  Round  ...  \
0                 SEC         30  Jacksonville  2022        1      1  ...
1             Big Ten          8       Detroit  2022        2      1  ...
2                 SEC         34       Houston  2022        3      1  ...
3   American Athletic         20      New York  2022        4      1  ...
4              Pac-12         19      New York  2022        5      1  ...
5                 ACC         29      Carolina  2022        6      1  ...
6                 SEC         19      New York  2022        7      1  ...
7              Pac-12          1       Atlanta  2022        8      1  ...
8                 SEC         26       Seattle  2022        9      1  ...
9             Big Ten         20      New York  2022       10      1  ...
10            Big Ten         18   New Orleans  2022       11      1  ...
11                SEC          8       Detroit  2022       12      1  ...
12                SEC         21  Philadelphia  2022       13      1  ...
13   FBS Independents         33     Baltimore  2022       14      1  ...
14                SEC         34       Houston  2022       15      1  ...

    Weight PreDraftRanking PreDraftPositionRanking  PreDraftGrade  \
0    272.0             2.0                     2.0           93.0
1    260.0             1.0                     1.0           94.0
2    190.0             8.0                     2.0           92.0
3    190.0             5.0                     1.0           93.0
4    254.0             7.0                     3.0           93.0
5    310.0             3.0                     1.0           93.0
6    337.0             4.0                     2.0           93.0
7    219.0            11.0                     2.0           92.0
8    307.0            10.0                     3.0           92.0
9    183.0             6.0                     1.0           93.0
10   187.0            15.0                     4.0           91.0
11   179.0            13.0                     3.0           92.0
12   341.0            12.0                     1.0           92.0
13   220.0             9.0                     1.0           92.0
14   323.0            26.0                     1.0           89.0

    HometownInfo City  HometownInfo State  HometownInfo Country  \
0           Thomaston                  GA                   USA
1            Plymouth                  MI                   USA
2         Baton Rouge                  LA                   USA
3             Detroit                  MI                   USA
4         Los Angeles                  CA                   USA
5           Charlotte                  NC                   USA
6          Okeechobee                  FL                   USA
7            Moorpark                  CA                   USA
8              Laurel                  MS                   USA
9              Austin                  TX                   USA
10         San Marcos                  CA                   USA
11        Saint Louis                  MO                   USA
12          Charlotte                  NC                   USA
13            Atlanta                  GA                   USA
14             Humble                  TX                   USA

    HometownInfo Latitude HometownInfo Longitude HometownInfo CountyFips
0               32.888188             -84.326585                 13293.0
1               45.006515             -93.466510                 27053.0
2               30.445960             -91.187380                 22033.0
3               42.331551             -83.046640                 26163.0
4               34.053691            -118.242767                  6037.0
5               35.227200             -80.843083                 37119.0
6               27.243696             -80.828749                 12093.0
7               34.285558            -118.882041                  6111.0
8               31.740960             -89.133820                 28067.0
9               30.271129             -97.743700                 48453.0
10              33.143372            -117.166145                  6073.0
11              38.626418             -90.199838                 29510.0
12              35.227200             -80.843083                 37119.0
13              33.749099             -84.390185                 13121.0
14              29.998831             -95.262155                 48201.0

[15 rows x 24 columns]

In [51]:
#Looking at shape to see if requirements were met
NFL_Draft_Combined.shape

(1035, 24)

In [52]:
Recruiting_Rank_Combined.columns

Index(['Id', 'AthleteId', 'RecruitType', 'Year', 'Ranking', 'Name', 'School',
       'CommittedTo', 'Position', 'Height', 'Weight', 'Stars', 'Rating',
       'City', 'StateProvince', 'Country', 'HometownInfo Latitude',
       'HometownInfo Longitude', 'HometownInfo FipsCode'],
      dtype='object')

In [53]:
# Renaming columns for consistency
Recruiting_Rank_Combined.rename(columns={'AthleteId': 'CollegeAthleteId'}, inplace=True)

In [54]:
Recruiting_Rank_Combined.columns

Index(['Id', 'CollegeAthleteId', 'RecruitType', 'Year', 'Ranking', 'Name',
       'School', 'CommittedTo', 'Position', 'Height', 'Weight', 'Stars',
       'Rating', 'City', 'StateProvince', 'Country', 'HometownInfo Latitude',
       'HometownInfo Longitude', 'HometownInfo FipsCode'],
      dtype='object')

In [55]:
#deleted columns 
Recruiting_Rank_Combined.drop(['HometownInfo FipsCode', 'RecruitType'], axis=1, inplace=True)

In [56]:
#chekcing my work to make sure the columns were deleted
Recruiting_Rank_Combined.columns

Index(['Id', 'CollegeAthleteId', 'Year', 'Ranking', 'Name', 'School',
       'CommittedTo', 'Position', 'Height', 'Weight', 'Stars', 'Rating',
       'City', 'StateProvince', 'Country', 'HometownInfo Latitude',
       'HometownInfo Longitude'],
      dtype='object')

In [57]:
Recruiting_Rank_Combined.shape

(13474, 17)

In [58]:
Recruiting_Rank_Combined.isnull().sum()
print(Recruiting_Rank_Combined.isnull().sum())

Id                           0
CollegeAthleteId          4663
Year                         0
Ranking                    325
Name                         0
School                     275
CommittedTo               2547
Position                     9
Height                      18
Weight                      19
Stars                        0
Rating                       0
City                       227
StateProvince              228
Country                    159
HometownInfo Latitude      308
HometownInfo Longitude     308
dtype: int64

In [59]:
Recruiting_Rank_Combined[Recruiting_Rank_Combined["CommittedTo"].isnull()]

,Id,CollegeAthleteId,Year,Ranking,Name,School,CommittedTo,Position,Height,Weight,Stars,Rating,City,StateProvince,Country,HometownInfo Latitude,HometownInfo Longitude
15,61584,NaN,2020,16.0,Zachary Evans,North Shore,NaN,RB,71.0,200.0,5,0.9925,Houston,TX,USA,29.758938,-95.367697
243,61796,NaN,2020,230.0,Ty'kieast Crawford,Carthage,NaN,OT,77.0,335.0,4,0.9150,Carthage,TX,USA,32.157041,-94.338114
351,61800,NaN,2020,328.0,Quincy Brown,Destrehan,NaN,WR,75.5,175.0,4,0.8958,Destrehan,LA,USA,29.960933,-90.370541
402,61940,NaN,2020,375.0,Javier Morton,Stephenson,NaN,S,74.0,197.0,3,0.8897,Stone Mountain,GA,USA,33.808092,-84.170627
407,61949,NaN,2020,380.0,Jalen Suggs,NaN,NaN,DUAL,77.0,200.0,3,0.8891,Minneapolis,MN,USA,44.977300,-93.265469
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13463,47923,NaN,2019,NaN,Donivan Wright,Lawrence Central,NaN,WR,72.0,165.0,3,0.8499,Indianapolis,IN,USA,39.768333,-86.158350
13465,50880,4570068.0,2019,NaN,Cooper Nelson,Sun Prairie,NaN,WR,76.0,180.0,1,0.6996,Sun Prairie,WI,USA,43.183458,-89.213436
13466,48524,4569648.0,2019,NaN,Zion Sorani,Cathedral Catholic,NaN,WR,72.0,170.0,3,0.8299,San Diego,CA,USA,32.717421,-117.162771
13468,48241,NaN,2019,NaN,David Heckard,Faith Lutheran,NaN,WDE,77.0,235.0,3,0.8376,Las Vegas,NV,USA,36.167256,-115.148516
13470,49519,NaN,2019,NaN,Joseph Goins Jr.,National Christian Academy,NaN,RB,70.0,210.0,2,0.7953,Fort Washington,MD,USA,38.712530,-77.012460

In [60]:
Recruiting_Rank_Combined[Recruiting_Rank_Combined["Name"] == "Zach Evans"]

,Id,CollegeAthleteId,Year,Ranking,Name,School,CommittedTo,Position,Height,Weight,Stars,Rating,City,StateProvince,Country,HometownInfo Latitude,HometownInfo Longitude
16,74906,4685035.0,2020,16.0,Zach Evans,North Shore,TCU,RB,71.0,200.0,5,0.9925,Houston,TX,USA,29.758938,-95.367697
7733,90773,4702901.0,2022,670.0,Zach Evans,Rockwall-Heath,Minnesota,RB,69.0,200.0,3,0.8748,Rockwall,TX,USA,32.931234,-96.459709

In [61]:
NFL_Draft_Combined[NFL_Draft_Combined["Name"] == "Zach Evans"]

,CollegeAthleteId,NflAthleteId,CollegeId,CollegeTeam,CollegeConference,NflTeamId,NflTeam,Year,Overall,Round,...,Weight,PreDraftRanking,PreDraftPositionRanking,PreDraftGrade,HometownInfo City,HometownInfo State,HometownInfo Country,HometownInfo Latitude,HometownInfo Longitude,HometownInfo CountyFips
476,4685035.0,106360,145,Ole Miss,SEC,14,Los Angeles,2023,215,6,...,202.0,160.0,13.0,56.0,Houston,TX,USA,29.758938,-95.367697,48201.0

In [62]:
#checking for null values in CollegeAthleteId
Recruiting_Rank_Combined[Recruiting_Rank_Combined["CollegeAthleteId"].isnull()]

,Id,CollegeAthleteId,Year,Ranking,Name,School,CommittedTo,Position,Height,Weight,Stars,Rating,City,StateProvince,Country,HometownInfo Latitude,HometownInfo Longitude
8,61578,NaN,2020,10.0,DJ Uiagalelei,St. John Bosco,Clemson,PRO,76.5,246.0,5,0.9949,Bellflower,CA,USA,33.882570,-118.116768
12,61582,NaN,2020,14.0,Elias Ricks,IMG Academy,LSU,CB,74.0,192.0,5,0.9928,Rancho Cucamonga,CA,USA,34.103319,-117.575174
15,61584,NaN,2020,16.0,Zachary Evans,North Shore,NaN,RB,71.0,200.0,5,0.9925,Houston,TX,USA,29.758938,-95.367697
34,61600,NaN,2020,32.0,Mekhail Sherman,St. John's,Georgia,OLB,75.0,234.0,4,0.9833,Washington,DC,USA,38.894985,-77.036571
36,61601,NaN,2020,34.0,Demonte Capehart,IMG Academy,Clemson,DT,76.5,295.0,4,0.9829,Hartsville,SC,USA,34.374043,-80.073401
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13462,48677,NaN,2019,NaN,Dajon Terry,Meridian,Kansas,DT,76.0,320.0,3,0.8227,Meridian,MS,USA,32.364310,-88.703656
13463,47923,NaN,2019,NaN,Donivan Wright,Lawrence Central,NaN,WR,72.0,165.0,3,0.8499,Indianapolis,IN,USA,39.768333,-86.158350
13468,48241,NaN,2019,NaN,David Heckard,Faith Lutheran,NaN,WDE,77.0,235.0,3,0.8376,Las Vegas,NV,USA,36.167256,-115.148516
13470,49519,NaN,2019,NaN,Joseph Goins Jr.,National Christian Academy,NaN,RB,70.0,210.0,2,0.7953,Fort Washington,MD,USA,38.712530,-77.012460
13473,49052,NaN,2019,NaN,Devon Fox,Maple Heights,Temple,WR,71.0,175.0,3,0.8104,Cleveland,OH,USA,41.505161,-81.693445

In [63]:
NFL_Draft_Combined[NFL_Draft_Combined["CollegeAthleteId"].isnull()]

,CollegeAthleteId,NflAthleteId,CollegeId,CollegeTeam,CollegeConference,NflTeamId,NflTeam,Year,Overall,Round,...,Weight,PreDraftRanking,PreDraftPositionRanking,PreDraftGrade,HometownInfo City,HometownInfo State,HometownInfo Country,HometownInfo Latitude,HometownInfo Longitude,HometownInfo CountyFips
752,NaN,108744,2837,East Texas A&M,Southland,16,Minnesota,2024,232,7,...,269.0,388.0,32.0,30.0,NaN,NaN,NaN,NaN,NaN,NaN

In [64]:
#Creating SQLite database and saving the combined Recruiting Ranking dataframe
conn= sqlite3.connect('Football.db')

Recruiting_Rank_Combined.to_sql("Recruiting_Ranking_Combined", conn, if_exists='replace', index=False)
NFL_Draft_Combined.to_sql("NFL_Draft_Combined", conn, if_exists='replace', index=False)

1035

In [65]:
# Function to create a SQLite connection (1)
def sql_conn():
    return sqlite3.connect('Football.db')

In [66]:
with sql_conn() as conn:
    df = pd.read_sql_query("""
        SELECT *
        FROM Recruiting_Ranking_Combined r
        RIGHT JOIN NFL_Draft_Combined d
        ON r.CollegeAthleteId = d.CollegeAthleteId;
    """, conn)

print(df.tail())

      Id  CollegeAthleteId  Year  Ranking  Name School CommittedTo Position  \
1042 NaN               NaN   NaN      NaN  None   None        None     None
1043 NaN               NaN   NaN      NaN  None   None        None     None
1044 NaN               NaN   NaN      NaN  None   None        None     None
1045 NaN               NaN   NaN      NaN  None   None        None     None
1046 NaN               NaN   NaN      NaN  None   None        None     None

      Height  Weight  ...  Weight  PreDraftRanking PreDraftPositionRanking  \
1042     NaN     NaN  ...   186.0            336.0                    42.0
1043     NaN     NaN  ...   204.0            253.0                    26.0
1044     NaN     NaN  ...   322.0            272.0                    25.0
1045     NaN     NaN  ...   221.0              NaN                     NaN
1046     NaN     NaN  ...     NaN              NaN                     NaN

     PreDraftGrade HometownInfo City  HometownInfo State  \
1042          33.0          Hoschton                  GA
1043          41.0        Montgomery                  AL
1044          39.0              None                None
1045           NaN           Lilburn                  GA
1046           NaN          Billings                  MT

      HometownInfo Country  HometownInfo Latitude  HometownInfo Longitude  \
1042                   USA              34.096496              -83.761284
1043                   USA              32.366966              -86.300648
1044                  None                    NaN                     NaN
1045                   USA              33.890104              -84.142972
1046                   USA              45.787496             -108.496070

      HometownInfo CountyFips
1042                  13157.0
1043                   1101.0
1044                      NaN
1045                  13135.0
1046                  30111.0

[5 rows x 41 columns]

In [67]:
    # There is something wrong here. I out of 1,000 lines that just over 50% can be joined 

with sql_conn() as conn:
    count_df = pd.read_sql_query("""
        SELECT Count(*) 
        FROM Recruiting_Ranking_Combined r
        RIGHT JOIN NFL_Draft_Combined d
        ON r.CollegeAthleteId = d.CollegeAthleteId;
    """, conn)
print(count_df)

   Count(*)
0      1047

In [68]:

Recruiting_Rank_Combined.shape

(13474, 17)

In [69]:
    # Checking for null vallues in NFL draft key column
with sql_conn() as conn:
    null_df = pd.read_sql_query("""
        SELECT CollegeAthleteId
        FROM NFL_Draft_Combined n
        WHERE n.CollegeAthleteId IS NULL;
    """, conn)

print(null_df)

  CollegeAthleteId
0             None

In [70]:
# Changing column PreDraftGrade to be a percentage for finding the change in rating from high school to draft 
    #Note to self - College rating will be 4 decimal places, NFL predraft rating will be 2 decimal places

NFL_Draft_Combined['PreDraftGrade']= NFL_Draft_Combined['PreDraftGrade']/100

print(NFL_Draft_Combined.head())

   CollegeAthleteId  NflAthleteId  CollegeId CollegeTeam  CollegeConference  \
0         4426349.0        105673         61     Georgia                SEC
1         4372099.0        105537        130    Michigan            Big Ten
2         4426434.0        105534         99         LSU                SEC
3         4427250.0        105558       2132  Cincinnati  American Athletic
4         4426326.0        105533       2483      Oregon             Pac-12

   NflTeamId       NflTeam  Year  Overall  Round  ...  Weight PreDraftRanking  \
0         30  Jacksonville  2022        1      1  ...   272.0             2.0
1          8       Detroit  2022        2      1  ...   260.0             1.0
2         34       Houston  2022        3      1  ...   190.0             8.0
3         20      New York  2022        4      1  ...   190.0             5.0
4         19      New York  2022        5      1  ...   254.0             7.0

  PreDraftPositionRanking  PreDraftGrade  HometownInfo City  \
0                     2.0           0.93          Thomaston
1                     1.0           0.94           Plymouth
2                     2.0           0.92        Baton Rouge
3                     1.0           0.93            Detroit
4                     3.0           0.93        Los Angeles

   HometownInfo State  HometownInfo Country  HometownInfo Latitude  \
0                  GA                   USA              32.888188
1                  MI                   USA              45.006515
2                  LA                   USA              30.445960
3                  MI                   USA              42.331551
4                  CA                   USA              34.053691

  HometownInfo Longitude HometownInfo CountyFips
0             -84.326585                 13293.0
1             -93.466510                 27053.0
2             -91.187380                 22033.0
3             -83.046640                 26163.0
4            -118.242767                  6037.0

[5 rows x 24 columns]

In [76]:
# Creating a new df with new column for the change in rating from high school to draft
    # Going to see if I can us this new df to see which postions have the most change in rating,

with sql_conn() as conn:
    change_in_rating_df = pd.read_sql_query("""
        SELECT r.CollegeAthleteId, 
               r.Name,
               r.Position,
               r.CommittedTo AS College, 
               r.Rating AS HighSchoolRank,
               d.NflTeam,
               d.Overall as Overall_Pick, 
               d.PreDraftGrade AS NFLPreDraftGrade,
               (d.PreDraftGrade / 100 - r.Rating) AS ChangeInRating
        FROM Recruiting_Ranking_Combined r
        RIGHT JOIN NFL_Draft_Combined d
        ON r.CollegeAthleteId = d.CollegeAthleteId;
    """, conn)

print(change_in_rating_df.head(15))

    CollegeAthleteId               Name Position         College  \
0          4428988.0       Bryan Bresee       DT         Clemson
1          4685720.0        Bryce Young     DUAL         Alabama
2          4428992.0        Kelee Ringo       CB         Georgia
3          4428996.0       Jordan Burch       DT  South Carolina
4          4428991.0  Paris Johnson Jr.       OT      Ohio State
5          4428990.0    Broderick Jones       OT         Georgia
6          4429014.0      Gervon Dexter       DT         Florida
7          4430822.0        Noah Sewell      ILB          Oregon
8          4430807.0     Bijan Robinson       RB           Texas
9          4685035.0         Zach Evans       RB             TCU
10         4685724.0      Will Anderson      WDE         Alabama
11         4685759.0       Jalen Carter       DT         Georgia
12         4428989.0     Chris Braswell      WDE         Alabama
13         4685145.0       Jaylon Jones        S       Texas A&M
14         4685721.0       Drew Sanders      ATH         Alabama

    HighSchoolRank       NflTeam  Overall_Pick  NFLPreDraftGrade  \
0           0.9995   New Orleans            29              85.0
1           0.9994      Carolina             1              96.0
2           0.9976  Philadelphia           105              82.0
3           0.9954       Arizona            78              85.0
4           0.9953       Arizona             6              91.0
5           0.9947    Pittsburgh            14              91.0
6           0.9946       Chicago            53              76.0
7           0.9935       Chicago           148              56.0
8           0.9928       Atlanta             8              96.0
9           0.9925   Los Angeles           215              56.0
10          0.9913       Houston             3              95.0
11          0.9913  Philadelphia             9              93.0
12          0.9911     Tampa Bay            57              82.0
13          0.9907  Indianapolis           221              46.0
14          0.9897        Denver            67              78.0

    ChangeInRating
0          -0.1495
1          -0.0394
2          -0.1776
3          -0.1454
4          -0.0853
5          -0.0847
6          -0.2346
7          -0.4335
8          -0.0328
9          -0.4325
10         -0.0413
11         -0.0613
12         -0.1711
13         -0.5307
14         -0.2097

In [78]:
# Saving the  to a new table in the SQLite Table
with sql_conn() as conn:
    change_in_rating_df.to_sql("Change_In_Rating", conn, if_exists='replace', index=False)

In [79]:
with sql_conn() as conn:
    df = pd.read_sql_query("""
        SELECT *
        FROM Change_In_Rating
        LIMIT 15;
    """, conn)

print(df)

    CollegeAthleteId               Name Position         College  \
0          4428988.0       Bryan Bresee       DT         Clemson
1          4685720.0        Bryce Young     DUAL         Alabama
2          4428992.0        Kelee Ringo       CB         Georgia
3          4428996.0       Jordan Burch       DT  South Carolina
4          4428991.0  Paris Johnson Jr.       OT      Ohio State
5          4428990.0    Broderick Jones       OT         Georgia
6          4429014.0      Gervon Dexter       DT         Florida
7          4430822.0        Noah Sewell      ILB          Oregon
8          4430807.0     Bijan Robinson       RB           Texas
9          4685035.0         Zach Evans       RB             TCU
10         4685724.0      Will Anderson      WDE         Alabama
11         4685759.0       Jalen Carter       DT         Georgia
12         4428989.0     Chris Braswell      WDE         Alabama
13         4685145.0       Jaylon Jones        S       Texas A&M
14         4685721.0       Drew Sanders      ATH         Alabama

    HighSchoolRank       NflTeam  Overall_Pick  NFLPreDraftGrade  \
0           0.9995   New Orleans            29              85.0
1           0.9994      Carolina             1              96.0
2           0.9976  Philadelphia           105              82.0
3           0.9954       Arizona            78              85.0
4           0.9953       Arizona             6              91.0
5           0.9947    Pittsburgh            14              91.0
6           0.9946       Chicago            53              76.0
7           0.9935       Chicago           148              56.0
8           0.9928       Atlanta             8              96.0
9           0.9925   Los Angeles           215              56.0
10          0.9913       Houston             3              95.0
11          0.9913  Philadelphia             9              93.0
12          0.9911     Tampa Bay            57              82.0
13          0.9907  Indianapolis           221              46.0
14          0.9897        Denver            67              78.0

    ChangeInRating
0          -0.1495
1          -0.0394
2          -0.1776
3          -0.1454
4          -0.0853
5          -0.0847
6          -0.2346
7          -0.4335
8          -0.0328
9          -0.4325
10         -0.0413
11         -0.0613
12         -0.1711
13         -0.5307
14         -0.2097

In [ ]:
#Look at how many rows I have in the Change_In_Rating table as it should be the same as NFL Draft_Combined

with sql_conn() as conn:
    count_df = pd.read_sql_query("""
        SELECT Count(*) 
        FROM Change_In_Rating;
    """, conn)
print(count_df)

   Count(*)
0      1047

In [87]:
print(change_in_rating_df)

      CollegeAthleteId               Name Position         College  \
0            4428988.0       Bryan Bresee       DT         Clemson
1            4685720.0        Bryce Young     DUAL         Alabama
2            4428992.0        Kelee Ringo       CB         Georgia
3            4428996.0       Jordan Burch       DT  South Carolina
4            4428991.0  Paris Johnson Jr.       OT      Ohio State
...                ...                ...      ...             ...
1042               NaN               None     None            None
1043               NaN               None     None            None
1044               NaN               None     None            None
1045               NaN               None     None            None
1046               NaN               None     None            None

      HighSchoolRank        NflTeam  Overall_Pick  NFLPreDraftGrade  \
0             0.9995    New Orleans            29              85.0
1             0.9994       Carolina             1              96.0
2             0.9976   Philadelphia           105              82.0
3             0.9954        Arizona            78              85.0
4             0.9953        Arizona             6              91.0
...              ...            ...           ...               ...
1042             NaN    Los Angeles           242              33.0
1043             NaN     Washington           245              41.0
1044             NaN      Green Bay           250              39.0
1045             NaN    New England           251               NaN
1046             NaN  San Francisco           252               NaN

      ChangeInRating
0            -0.1495
1            -0.0394
2            -0.1776
3            -0.1454
4            -0.0853
...              ...
1042             NaN
1043             NaN
1044             NaN
1045             NaN
1046             NaN

[1047 rows x 9 columns]